  {% include 'common/head.twig' %}

  <body>
    {% include 'common/header.twig' %}

    <div class="wrapper container">
      <div class="hero-sm"></div>
      <section class="hero-wrap">
        <div class="hero container">
          <div class="l">
            <h1>Welcome to SilutionsInk</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus luctus ac urna sed tempus. Fusce condimentum pretium pulvinar. Integer et arcu congue, ornare quam et, hendrerit diam. Nam tincidunt ex sapien, et pretium felis iaculis eget. Proin tellus diam, imperdiet et enim eget, posuere fringilla elit. Nam ac leo nec ligula gravida interdum id id ex. Vestibulum quis lectus erat. Mauris porttitor lorem scelerisque nisi fringilla, quis molestie enim tempus. Ut mollis porttitor erat nec vestibulum.</p>
            <ul>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing.</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing.</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing.</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing.</li>
            </ul>
          </div>
        </div>
      </section>
      <section class="bottom-wrap">
        <div class="bottom-title container">
          <h1>Lorem ipsum dolor sit amet, consectetur adipiscing:</h1>
        </div>
        <div class="bottom container">
          <ul>
            <li>
              <h2>What’s Covered</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
            </li>
            <li>
              <h2>Fast and Easy Repairs</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
            </li>
            <li>
              <h2>24/7 Service</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
            </li>
            <li>
              <h2>A Replacement or Cash</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
            </li>
          </ul>
        </div>
      </section>
    </div>
    <footer class="footer-wrap">
      <div class="footer">
        <div class="footer-extras">
        </div>
        <div class="links">
          <ul>
            <li><a target="_blank" href="" title="">footer link</a></li>
            <li><a target="_blank" href="" title="">footer link</a></li>
            <li><a target="_blank" href="" title="">footer link</a></li>
            <li><a target="_blank" href="" title="">footer link</a></li>
            <li class="copyright">&copy; <?php print date('Y'); ?> SilutionsInk Inc. All Rights Reserved</li>
          </ul>
        </div>
      </div>
    </footer>

  </body>

  {% include 'common/footer.twig' %}
