    <div class="container">
      <footer class="footer">
        <p>&copy; 2017 SilutionsInk Inc. All Rights Reserved</p>
      </footer>
    </div>

<!--           <ul>
            <li><a target="_blank" href="" title="">footer link</a></li>
            <li><a target="_blank" href="" title="">footer link</a></li>
            <li><a target="_blank" href="" title="">footer link</a></li>
            <li><a target="_blank" href="" title="">footer link</a></li>
            <li class="copyright">&copy; <?php print date('Y'); ?> SilutionsInk Inc. All Rights Reserved</li>
          </ul> -->