<!doctype html>
<html class="no-js" lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Silutions Ink</title>
        <meta name="description" content="">
        <meta name="google-site-verification" content="AeTCuT6ohd-SJ10h2NLA9A1vClisINrXJdqudKOqehg" />
        <link rel="icon" href="/favicon.ico">
        <!-- Place favicon.ico in the root directory -->

<!--         <link rel="stylesheet" href="/assets/css/normalize.css">
        <link rel="stylesheet" href="/assets/css/main.css"> -->
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>