  {% include 'common/head.twig' %}

    {% include 'common/header.twig' %}

    <div class="container">
      <h1>About Dan Solomon</h1>
      <p>Dan Solomon has over twenty years of experience in the specialty chemicals industry working in development, manufacture and application support of silicones in markets including textile printing inks, electronics, personal care and transportation.</p>
      <p>Unmatched expertise in silicone development and product launch, custom formulating and providing proven solutions in the garment embellishment markets across the globe. After years of supporting this ‘small market’ among others from an unwieldy large corporate model, the “ink in the blood” finally called for a change to provide a full-service, full-time expert to meet the needs of our industry. Enter Silutions Ink…</p>
      <p>As an avid outdoorsman and nature enthusiast, environmental sustainability has always been very important to Dan.  It was the development and launch of inks that met conscientious RSL and environmental regulations that first got him started in graphic and apparel embellishment and drives him to continuously improve the way we strive for sustainability in this amazing world we live in. As an avid runner, hiker and outdoorsman, Dan constantly strives to achieve new goals, break through barriers and leave the excuses behind.</p>
      <p>WILD Screenprint, our branding and embellishment arm helps to keeps the fingers in the ink and meet the needs of customers in the athletic and fashion markets while giving us in-house capability to develop and problem solve for all our customers.</p>
      <p>Thanks for visiting, stop back soon for more.</p>
      <div class="well"><strong>Opportunity is missed by most people because it is dressed in overalls and looks like work</strong> &ndash; Thomas A. Edison</div>
    </div>

    {% include 'common/footer.twig' %}
