  {% include 'common/head.twig' %}

    {% include 'common/header.twig' %}

    <div class="container">
      <h1>Our Blog</h1>
      <h3>Hello!</h3>
      <h6>03Jan2017</h6>
      <p>Well it’s out with the old year and in with 2017! It’s been an incredible journey getting to this point and I am looking forward to what’s coming next. Launching this website is a great step in opening doors to new opportunities. Obviously, we are still a bit lite on content but I am sure that will start to change quickly as the year progresses. One of the downsides to leaving a large corporation is they tend to want all their collateral but, I think it’s a great place to build from the foundation up, the way I want it.</p>
      <p>I’m looking forward to this blog as a way for you to start to get to know me.  First always, I want to acknowledge the family and friends that have helped make this possibility a reality. I am blessed with such stellar folks in my life that just don’t have "can't" in their dictionary and are willing to jump in with all their skills, support and thoughts.</p>
      <p>I’d like to thank you for checking out the new site and your interest in the company.  I probably know a few of you already and look forward to meeting many more soon!</p>
      <p>I’ll be at ISS Longbeach later this month so feel free to reach out and let’s make a connection!</p>
      <p>Dan</p>
    </div>

    {% include 'common/footer.twig' %}
