  {% include 'common/head.twig' %}

    {% include 'common/header.twig' %}

    <div class="container">
      <h1>Contacts:</h1>
      <p><a href="mailto:Dan.solomon@silutionsink.com" title="Dan.solomon@silutionsink.com">Dan.solomon@silutionsink.com</a><br />
        www.silutionsink.com<br />
        (989) 600-1344</p>
      <p>Santa Rita LLC<br />
        Silutions Ink<br />
        WILD Screenprint</p>

      <p><img src="/assets/images/sgia-logo.png" alt="SGIA Logo"/></p>
      <p><img src="/assets/images/fespa-logo.png" alt="FESPA Logo"/></p>
    </div>

    {% include 'common/footer.twig' %}
