  {% include 'common/head.twig' %}

    {% include 'common/header.twig' %}

    <div class="container">
      <h1>Welcome to Silutions ink!</h1>
      <p>As all of us in the screen print business know, the number of variables along the way to a great graphic can be as much challenge as it is opportunity.  The addition of new ink technologies designed to keep up with apparel and environmental trends adds yet another complexity.  As you may know many of the current ink technologies have been around for years and are very well understood while others, including silicone inks still face the challenge and have a learning curve for many shops to navigate.</p>
      <p>Are you are having <strong>SUBLIMATION, DURABILITY, SCREEN LIFE</strong> or <strong>CURE</strong> issues when working with silicone inks?  Do you desire to improve overall cost and efficiencies in large scale manufacture?  Is your business expanding and looking to be on leading edge of this fast-growing technology?  Whether you are new to silicones or experiencing challenges in large scale production, we’ve been there, done that and can help.</p>
      <p>Silutions Ink is here to bridge the gaps between application, ink and chemistry by leveraging our 20+ years’ experience in the silicone industry from development to technical service.  It is our goal to teach, simplify, and continuously improve your experience with silicones and other eco-compliant inks.  We’re not only knowledgeable but also flexible to meet your timelines and needs. We are not a large corporation trying to sell you product (been there, done that) but rather a small agile-minded business being able to work quickly to get your silicone solution designed, developed and fully integrated.</p>
      <p>Our experience working with small local shops to major brands gives us the opportunity to meet you where you are at in the process and bring insights into upcoming trends and opportunities.</p>
      <p>Our services include everything from phone consultations, to global on-site support, from problem resolution to development in our in-house lab or your shop floor. <strong>Let us help you stretch your silicone performance!</strong></p>
      <div class="well"><strong>Hell, there are no rules here - we're trying to accomplish something</strong> &ndash; Thomas A. Edison</div>
      <p>We are just getting started, please look forward to site and content development as our business grows, now gotta get back to the press…</p>
    </div>

    {% include 'common/footer.twig' %}
